* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    all: unset;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    height: 100vh;
}

html {
    font-size: 16px;
}

/****** HEADER ******/

header {
    grid-row: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100%;
}

nav button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    font-family: "Didact Gothic", sans-serif;
    font-size: 0.95rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(87, 87, 87)
}

nav button:hover {
    color: rgb(156, 156, 156)
}

/****** CONTENT ******/

.content {
    grid-row: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.1);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** FOOTER ******/


footer {
    grid-row: 3;
}

/****** HOME ******/

.home {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home * {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.home .title {
    font-size: 6rem;
    font-family: "Tilt Warp", sans-serif;
    letter-spacing: 0.4rem;
}

.home .subtitle {
    font-size: 5rem;
    font-family: "Meow Script", cursive;
    line-height: 5rem;
}

.home .title-paragraph {
    font-size: 1.2rem;
    width: 500px;
    font-family: "Didact Gothic", sans-serif;
    margin: 0;
    text-align: center;
    text-wrap: pretty;
}

/****** MENU ******/

.menu {
    background-color: white;
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.menu .title {
    font-size: 5rem;
    font-family: "Meow Script", cursive;
    line-height: 5rem;
    margin-bottom: 20px;
    text-align: center;
}

.food-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted rgb(183 152 91);
}

.food-column {
    width: 100%;
}

.food-wrapper {
    margin-bottom: 10px;
}

.food-title {
    font-size: 1.2rem;
    color: black;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 600;
}

.food-price {
    font-size: 1rem;
    color: rgb(62, 62, 62);
    font-weight: 200;
    font-family: "Didact Gothic", sans-serif;
}

.food-description {
    font-size: 0.9rem;
    color: rgb(108, 108, 108);
    font-family: "Didact Gothic", sans-serif;
    font-weight: 100;
}

/****** RESERVATION ******/

.reservation {
    border: 2px solid white;
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.reservation .title {
    font-size: 5rem;
    font-family: "Meow Script", cursive;
    line-height: 5rem;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

.reservation .subtitle {
    font-size: 1.2rem;
    width: 500px;
    font-family: "Didact Gothic", sans-serif;
    margin: 0;
    text-align: center;
    text-wrap: pretty;
    color: white;
    margin-bottom: 20px;
}

.reservation ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
}

.reservation li {
    width: min(40%, 200px);
    flex-grow: 1;
    gap: 20px;
}

.reservation .label {
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
}

.reservation input, textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.1rem;
    color: black;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 1000;
}

.reservation input::placeholder, textarea::placeholder {
    color: rgb(116, 116, 116);
    font-weight: 200;
}


.reservation textarea {
    height: 100px;
    resize: none;
}

.reservation .submit-button {
    all: unset;
    cursor: pointer;
    border-radius: 100%;
    font-family: "Didact Gothic", sans-serif;
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 1000;
    height: 100px;
    padding: 0px 20px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    background-color: rgb(155, 129, 129);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.reservation .submit-button:hover {
    background-color: rgb(220, 220, 220);
    color: rgb(155, 129, 129);
}